{% extends 'base.html.twig' %}
{% block page_title %}{{ 'gateway.gateway.consume_assertion.title'|trans }}{% endblock %}

{% block body %}
    <noscript>
        <b>Note: </b> javascript is disabled, please click the button below to proceed
    </noscript>
    One moment please...
    <form method="post" action="{{ acu }}">
        <input type="hidden" name="SAMLResponse" value="{{ response }}" />
    {% if relayState|length > 0 %}
        <input type="hidden" name="RelayState" value="{{ relayState|escape }}" />
    {% endif %}
        <input type="submit" class="hidden" />
    <noscript>
        <input type="submit" value="Submit"/>
    </noscript>
    </form>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('submitonload') }}
{% endblock %}
