{% extends 'base.html.twig' %}

{% block page_title %}{{ 'gateway.gateway.unprocessable_response.title'|trans }}{% endblock %}

{% block content %}
    {% set samlResponse = 'SAMLResponse' %}
    {% if adfs is defined %}
        {# When responding to the ADFS plugin, we add an underscore to the `SAMLResponse` parameter #}
        {% set samlResponse = '_SAMLResponse' %}
    {% endif %}
    <p class="bg-danger">
        {{ 'gateway.error.unprocessable_response'|trans }}
    </p>
    {{ 'gateway.error.click_to_go_back_to_sp'|trans }}
    <form method="post" action="{{ acu }}">
        <input type="hidden" name="{{ samlResponse }}" value="{{ response }}"/>
    {% if relayState|length > 0 %}
        <input type="hidden" name="RelayState" value="{{ relayState|escape }}"/>
    {% endif %}
    {# Optionally add the ADFS response parameters #}
    {% include "@SurfnetStepupGatewaySecondFactorOnly/adfs/partial/adfs.html.twig" %}
        <input type="submit" value="{{ 'gateway.submit.click_to_go_back_to_sp'|trans }}"/>
    </form>
{% endblock content %}
