{% extends '::base.html.twig' %}

{% block content %}
    <p class="bg-danger">
        {{ gateway.error.unprocessable_response }}
    </p>
    {{ gateway.error.click_to_go_back_to_sp }}
    <form method="post" action="{{ acu }}">
        <input type="hidden" name="SAMLResponse" value="{{ response }}"/>
    {% if relayState|length > 0 %}
        <input type="hidden" name="RelayState" value="{{ relayState|escape }}"/>
    {% endif %}
        <input type="submit" value="{{ gateway.submit.click_to_go_back_to_sp }}"/>
    </form>
{% endblock content %}
