{% extends "::base.html.twig" %}

{% block application_name %}{{ 'gateway.second_factor.choose_second_factor.title'|trans }}{% endblock application_name %}

{% block content %}
    <h2>{{ block('page_title') }}</h2>
    {{ form_start(form, {'attr': {'class': 'form-horizontal choose-second-factor-type'}}) }}

    {{ form_errors(form) }}

    {% for secondFactor in secondFactors %}
    <div class="row middle">
        <div class="col-lg-1 col-sm-2 logo"><img src="{{ second_factor_logo(secondFactor.secondFactorType) }}"></div>
        <div class="col-lg-2 col-sm-2 col-xs-5 title">{{ secondFactor.secondFactorType|trans_second_factor_type }}</div>
        <div class="col-lg-9 col-sm-8 col-xs-5">{{ form_widget(form.offsetGet('choose_' ~ secondFactor.secondFactorType)) }}</div>
    </div>
    {% endfor %}

    {{ form_rest(form) }}

    {{ form_end(form) }}
    <hr>

{% endblock %}
