{% extends "::base.html.twig" %}

{% block page_title %}{{ 'gateway.second_factor.sms.verify_challenge.title.page'|trans }}{% endblock %}

{% block content %}
    <h2>{{ block('page_title') }}</h2>

    <p>{{ 'gateway.second_factor.sms.text.help_user_enter_challenge'|trans }}</p>

    <ol>
        <li>{{ 'gateway.second_factor.sms.text.enter_challenge_below'|trans }}</li>
        <li>{{ 'gateway.second_factor.sms.text.retry_if_not_received'|trans }}</li>
    </ol>

    <hr>

    {{ form(form) }}

{% endblock %}
