{% extends 'MopaBootstrapBundle::base.html.twig' %}
{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

{% block title %}
    {%  if block('page_title') is not empty %}{{ block('page_title') }} &mdash; {% endif %}
    {{ 'app.name'|trans }}
{% endblock title %}
{% block head_style %}
    {% stylesheets
    '../app/Resources/public/less/style.less' filter='less'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock head_style %}

{% block navbar %}
    {#{{ mopa_bootstrap_navbar('frontendNavbar') }}#}
{% endblock navbar %}

    {% block header %}
    {% endblock header %}

        {% block page_header %}
            <div class="page-header clearfix">
                <img src="/images/SURFconext.png" class="pull-right logo" alt="SURFconext">
                <h1>{{ 'app.name'|trans }}</h1>
            </div>
        {% endblock page_header %}

        {% block flashes %}
            {% if app.session.flashbag.peekAll|length > 0 %}
                <div class="row-fluid">
                    <div id="flash" class="span12">
                        {{ session_flash() }}
                    </div>
                </div>
            {% endif %}
        {% endblock flashes %}

        {% block content_row %}
            {% block content %}
            {% endblock content %}
        {% endblock content_row %}

        {% block footer %}
        {% endblock footer %}

{% block foot_script %}
    {% javascripts
    '@SurfnetStepupBundle/Resources/public/js/jquery-1.11.2.min.js'
    '@SurfnetStepupBundle/Resources/public/js/stepup.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script %}
{% block foot_script_additional %}
{% endblock foot_script_additional %}
