{% extends "base.html.twig" %}

{% block application_name %}{{ 'gateway.second_factor.choose_second_factor.title'|trans }}{% endblock application_name %}

{% block container_class %}{{ parent() }} wayg{% endblock container_class %}

{% block content %}
    <h1>{{ block('application_name') }}</h1>
    {{ form_start(form, {'attr': {'class': 'form-horizontal choose-second-factor-type'}}) }}

    {% set formErrors = form.vars.errors.form.getErrors(true) %}
    {% if formErrors|length %}
        {% for error in formErrors %}
            <p class="form-error">{{ error.message }}</p>
        {% endfor %}
    {% endif %}

    {% for secondFactor in secondFactors %}
        <div class="row middle">
            <div class="col-3 logo"><img src="{{ second_factor_logo(secondFactor.secondFactorType) }}"></div>
            <div class="col-5 title">{{ secondFactor.secondFactorType|trans_second_factor_type }}</div>
            <div class="col-4">{{ form_widget(form.offsetGet('choose_' ~ secondFactor.secondFactorType)) }}</div>
        </div>
    {% endfor %}

    {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock %}

{% block footer %}
    <hr>
    <div class="float-left">
        {{ form_start(cancelForm) }}
        {{ form_widget(cancelForm.cancel, {}) }}
        {{ form_end(cancelForm) }}
    </div>
    <div class="float-right">
        <a class="a-button" href="{{ global_view_parameters.supportUrl }}" target="_blank">Help</a>
    </div>
{% endblock footer %}
