{% extends "base.html.twig" %}

{% block page_title %}{{ 'gateway.second_factor.u2f.title.authenticate'|trans }}{% endblock %}

{% block content %}
    <h2>{{ block('page_title') }}</h2>

    <ul>
        <li>{{ 'gateway.second_factor.u2f.text.ensure_device_connected_to_pc'|trans }}</li>
        <li>{{ 'gateway.second_factor.u2f.text.activate_u2f_device'|trans }}</li>
    </ul>

    {% if authenticationFailed is defined and authenticationFailed %}
        <hr>

        {# We don't render the form in case of an error to prevent potential continuous resubmission of device errors #}
        <a href="{{ path('gateway_verify_second_factor_u2f') }}" class="btn btn-primary">
            {{ 'gateway.second_factor.u2f.button.retry'|trans }}
        </a>
    {% else %}
        {{ form(form) }}
    {% endif %}

    <hr>

    {{ form(cancelForm) }}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('u2f') }}
{% endblock %}
