{% extends '::base.html.twig' %}

{% block page_title %}{{ 'gateway.error.title'|trans({'status_code': statusCode, 'status_text': statusText}) }}{% endblock %}

{% block content %}
    <h2>{{ block('page_title') }}</h2>

    <p>{{ 'gateway.error.text.an_error_occurred'|trans({'status_code': statusCode, 'status_text': statusText}) }}</p>

    <hr>
    <p><i class="fa fa-clock-o"></i> {{ "now"|date('Y-m-d H:i:s') }}</p>
    <p>{{ 'gateway.error.text.your_art_code'|trans }}: <span class="art">#{{ art }}</span></p>
    <p>{{ 'gateway.error.text.if_you_think_this_is_incorrect_report'|trans({'%support_url%': global_view_parameters.supportUrl })|raw }}</p>
{% endblock %}
